# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

REACT_APP_TEAMS_WEBHOOK_URL=https://kocsistem.webhook.office.com/webhookb2/44660f66-4726-4a54-842b-1c313fd46f06@1e1aa76b-4b02-45f4-9417-2e13eb0da973/IncomingWebhook/e2a56645d1fc4030ba93adeb654039c7/cf410a20-3801-452e-8fea-eb078c94b436/V2f0-wxTPvvbxkTQ7Nq1h4gQimJZp4D3eTNrWgoMeOfA41